[defaults]
inventory           = inventory.yml
roles_path          = roles
interpreter_python  = auto_silent
retry_files_enabled = false
timeout             = 30
forks               = 3
nocows              = 1

[callback_default]
result_format = yaml

[privilege_escalation]
become        = true
become_method = sudo
